@charset "utf-8";
/* CSS Document */
a{
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
	text-decoration: none;
	color: #151313;
}

a:hover {
    color:#00B9D5;
    font-size:14px;
    text-decoration:underline;
}

.a1{
    font-family: Arial;				/* 统一设置所有样式 */
    font-size: 0.9em;
    text-align:center;
    margin:0 15px;
	
  }

.a1 a:link,a:visited{				/* 超链接正常状态、被访问过的样式 */
    color: #250D0D;
    padding:4px 10px 4px 10px;
    background-color: #ddd;
    text-decoration: none;
    border-top: 1px solid #eee;		/* 边框实现阴影效果 */
    border-left: 1px solid #eee;
    border-bottom: 1px solid #717171;
    border-right: 1px solid #717171;
  }
.a1 a:hover{						/* 鼠标悬停时的超链接 */
    color:#821818;				/* 改变文字颜色 */
    padding:5px 8px 3px 12px;		/* 改变文字位置 */
    background-color:#ccc;			/* 改变背景色 */
    border-top: 1px solid #717171;	/* 边框变换，实现“按下去”的效果 */
    border-left: 1px solid #717171;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }

.a2{
    font-family: Arial;				/* 统一设置所有样式 */
    font-size: 0.9em;
    text-align:center;
    margin:0px;
	
  }

.a2 a:link,a:visited{				/* 超链接正常状态、被访问过的样式 */
    color: #250D0D;
    padding:2px 4.5px;
    background-color: #ddd;
    text-decoration: none;
    border-top: 1px solid #eee;		/* 边框实现阴影效果 */
    border-left: 1px solid #eee;
    border-bottom: 1px solid #717171;
    border-right: 1px solid #717171;
  }
.a2 a:hover{						/* 鼠标悬停时的超链接 */
    color:#821818;				/* 改变文字颜色 */
    padding:4px 8px 3px 10px;		/* 改变文字位置 */
    background-color:#ccc;			/* 改变背景色 */
    border-top: 1px solid #717171;	/* 边框变换，实现“按下去”的效果 */
    border-left: 1px solid #717171;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }


/* -------定义全局规则----- */
body {
	background:url(images/bg.jpg) repeat-x #e4e9ec top;
	padding:0;
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:0px auto auto auto;
	color:#000;
	text-decoration: none;
}
p {
	padding:2px;
	margin:0px;
}

/*p的段落文字样式1*/
.p1{
	font-family: "仿宋", "宋体", "等线";
	font-size: medium;
	text-indent: 2em;
	line-height: 25px;
}

.p2{
	font-family:"仿宋", "宋体", "等线";
	
	font-size: medium;
	text-indent: 2em;
	font-weight: 500;
	line-height: 25px;
}

.p3{
	font-family:"仿宋", "宋体", "等线";
	
	font-size: medium;
	text-indent: 2em;
	font-weight: 600;
	line-height: 25px;
}

.p4_bookdetails{
	font-family:"仿宋", "宋体", "等线";
	
	font-size: large;
	text-indent: 2em;
	font-weight: 900;
	line-height: 25px;
}

.p5{
	font-family:"黑体", "宋体", "仿宋";
	font-size: 20px;
	font-weight: 900;
	line-height: 25px;
}

/*p的图片样式1*/
.picture01 img{
	margin-left: 155px;
	align:center;
	width: 600px;
	height: 450px;
	padding-bottom: 15px;
}

.book_cover img{
	width: 210px;
	height: 280px;
	align-content: center;
}

/* -------定义全局规则end----- */

/* -------定义页面头部区域规则----- */
#main_container {
	width: 1000px;
	height: auto;
	margin: auto;
	padding: 0px;
	background-color: #FFF;
}

#header {
	width:1000px;
	height:136px;
	background: url(../images/header_bg.jpg) no-repeat center;
	background-position:0px 0px;
	background-size: auto auto;
	margin:auto;
	
	position: absolute;
	top: 0;
	left: auto;
}

#top_right {
	width: 215px;
	position: absolute;
	float: right;
	text-align: right;
	padding-right: 20px;
	left: 73%;
	top: 80px;
	
}
#top_mid {
	width: 350px;
	float: none;
	text-align: center;
	padding-right: 20px;
	position: absolute;
	left: 350px;
	top: 80px;
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
	font-style: normal;
}
#top_right span {
	padding-left:5px;
	padding-right:5px;
}



#logo {
	position:relative;
	margin: 0px;
	padding: 30px 10px 0 30px;
	color: #000000;
	font-size: 24px;
	width: 30%;
	top:auto;
	height: 40px;
	left: 1%;
}

/* -------定义外包裹及页面头部区域规则end----- */

/* -------定义页面导航区域规则----- */
#menu_tab {
	position: absolute;
	margin: auto;
	width:1000px;
	height:36px;
	background: url(../images/menu_bg.gif) repeat-x;
}
ul.menu {
	list-style-type:none;
	float:center;
	display:block;
	width:1000px;
	margin:0px;
	padding:auto;
}
ul.menu li {
	display:inline;
	font-size:12px;
	font-weight:bold;
	line-height:36px;
}
a.nav:link, a.nav:visited {
	display:block;
	float:left;
	padding:0px 8px 0px 8px;
	margin:0 14px 0 14px;
	height:36px;
	text-decoration:none;
	text-align:center;
	color:#fff;
}
a.nav:hover {
	display:block;
	float:left;
	padding:0px 8px 0px 8px;
	margin:0 14px 0 14px;
	height:36px;
	text-decoration:none;
	text-align:center;
	color:#199ECD;
}
ul.menu li.divider {
	display:inline;
	width:4px;
	height:36px;
	float:left;
	background: url(../images/menu_divider.gif) no-repeat center;
}
#crumb_navigation {
	position: absolute;
	top: 36px;
	left: auto;
	width:980px;
	height:15px;
	padding:5px 10px 0 20px;
	color:#333333;
	background: url(../images/navbullet.png) no-repeat left;
	background-position:5px 9px;
}
#crumb_navigation span {
	color:#0fa0dd;
}
/* -------定义页面导航区域规则end----- */
/* -------定义页面左侧边栏区域规则----- */
.left_content {
	width:180px;
	float:left;
	padding:0 0 0 5px;
	background:#FFF;
}
.title_box {
	width:180px;
	height:30px;
	margin:5px 0 0 0;
	background: url(../images/menu_title_bg.gif) no-repeat center;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	color:#159dcc;
	line-height:30px;
}
ul.left_menu {
	width:180px;
	padding:0px;
	margin:0px;
	list-style:none;
}
ul.left_menu li {
	margin:0px;
	list-style:none;
}
ul.left_menu li.odd a {
	width:166px;
	height:25px;
	display:block;
	border-bottom:1px #e4e4e4 dashed;
	text-decoration:none;
	color:#504b4b;
	padding:0 0 0 14px;
	line-height:25px;
}
ul.left_menu li.even a {
	width:166px;
	height:25px;
	display:block;
	border-bottom:1px #e4e4e4 dashed;
	background-color:#f0f4f5;
	text-decoration:none;
	color:#504b4b;
	padding:0 0 0 14px;
	line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover {
	color:#000;
	text-decoration:underline;
}
.border_box {
	width:180px;
	height:auto;
	text-align:center;
}
.product_title {
	color:#ff8a00;
	padding:5px 0 5px 0;
	font-weight:bold;
}
.product_img {
	padding:5px 0 5px 0;
}
.prod_price {
	padding:5px 0 5px 0;
}
span.reduce {
	color:#666666;
	text-decoration:line-through;
}
span.price {
	color: #ff8a00;
}
.product_title a {
	text-decoration:none;
	color:#ff8a00;
	padding:5px 0 5px 0;
	font-weight:bold;
	border:none;
}
.product_title a:hover {
	color:#064E5A;
}
input.newsletter_input {
	width: 300px;
	height: 25px;
	border: 1px #ddd9d9 solid;
	margin-top: 10px;
	margin-right: 0;
	margin-left: 80px;
	margin-bottom: 50px;
	font-size: 12px;
	padding: 3px;
	color: #999999;
}
a.join {
	width: 30px;
	display: block;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 6px;
	margin-bottom: 25px;
	padding: 2px 8px 6px 8px;
	color: #535353;
}

/* -------定义页面左侧边栏区域规则end----- */



/* -------定义页面中部区域规则----- */
.mainbox{
	width:1000px;
	height:auto;
	position: absolute;
	top: 136px;
	left: auto;
	background: #E5E5E5;
	float: none;
	margin:0px auto;
}

.mainbox_left{
	width: 190px;
	height: auto;
	position: absolute;
	top: 65px;
	left: auto;
	background: #E5E5E5;
	margin: auto;
}

.mainbox_mid{
	width: 600px;
	height: 450px;
	position: absolute;
	top: 76px;
	left: 202.5px;
	background: #9A8E8E;
	margin: auto;

}

.mainbox_right{
	width: 200px;
	height: auto;
	position: absolute;
	top: 65px;
	left:810px;
	background: #E5E5E5;
	float: none;
	margin:0px auto;
}

.mainbox_right_changyong{
	width:190px;
	height: auto;
	position: absolute;
	top: 0px;
	left:10px;
	background: #E5E5E5;
	margin:0px auto;
}

.mainbox_right_gonggao{
	width: 190px;
	height: auto;
	position: absolute;
	top: 258px;
	left:10px;
	background: #E5E5E5;
	margin:0px auto;
}
/* -------定义页面中部区域规则end----- */

/* -------定义页面底部区域规则----- */

#footer {
	width:980px;
	clear:both;
	height:35px;
	background: url(../images/footer_bg.gif) repeat-x top;
	text-align:center;
	padding:14px;
	position:absolute;
	top:700px;
	left:auto;
}

/*图书馆简介页脚*/
.footer01 {
	width:974px;
	clear:both;
	height:35px;
	background: url(../images/footer_bg.gif) repeat-x top;
	text-align:center;
	padding:14px;
	position: relative;
	top:4620px;
	left:auto;
}

/*排行榜详情页页脚*/
.footer02 {
	width:974px;
	clear:both;
	height:35px;
	background: url(../images/footer_bg.gif) repeat-x top;
	text-align:center;
	padding:14px;
	position: relative;
	top:1300px;
	left:auto;
}



/* -------定义页面底部区域规则end----- */

/*书籍分类详情页*/
.bookxiangqing{
	width: 790px;
	height:auto;
	/*margin:0 auto;*/
	position: relative;
	top:68px;
	left:210px;
	background: #FFFFFF;
}


.bookxiangqing_title{
	width: 786px;
	height: 95px;
	font-weight: bold;
	font-family:"时尚中黑简体", "宋体";
	font-size: 45pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 3px;
	position: relative;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:2px;
}

.bookxiangqing_mainbox{
	width: 785px;
	height: auto;
	background: #EFEFEF;
	padding: 3px;
	position: relative;
	top:auto;
}

.bookxiangqing_mainbox_biaotou{
	width: 785px;
	height: 35px;
	font-family:"时尚中黑简体", "宋体";
	font-size: 14pt;
	color:#000000;
	position: relative;
	top:5px;
}

.bookxiangqing_mainbox_biaotou_xuhao{
	width: 75px;
	height: 25px;
	position: absolute;
	top:0px;
	left:0px;
	
}

.bookxiangqing_mainbox_biaotou_bookname{
	width: 180px;
	height: 25px;
	position:absolute;
	top:0px;
	left:75px;
}

.bookxiangqing_mainbox_biaotou_bianhao{
	width: 80px;
	height: 25px;
	position: absolute;
	top:0px;
	left:255px;
}

.bookxiangqing_mainbox_biaotou_writer{
	width: 150px;
	height: 25px;
	position: absolute;
	top:0px;
	left:335px;
}

.bookxiangqing_mainbox_biaotou_bookconcern{
	width: 150px;
	height: 25px;
	position: absolute;
	top:0px;
	left:485px;
}

.bookxiangqing_mainbox_biaotou_position{
	width: 150px;
	height: 25px;
	position: absolute;
	top:0px;
	left:635px;
}

.bookxiangqing_mainbox_biaotou01{
	width: 785px;
	height: 25px;
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	text-decoration: none;
	color: #000000;
	position: relative;
}
.bookxiangqing_mainbox_biaotou_xuhao01{
	width: 75px;
	height: 25px;
	position: absolute;
	top:0px;
	left:0px;
}

.bookxiangqing_mainbox_biaotou_bookname01{
	width: 180px;
	height: 25px;
	position:absolute;
	top:0px;
	left:75px;
}

.bookxiangqing_mainbox_biaotou_bianhao01{
	width: 80px;
	height: 25px;
	position: absolute;
	top:0px;
	left:255px;
}

.bookxiangqing_mainbox_biaotou_writer01{
	width: 150px;
	height: 25px;
	position: absolute;
	top:0px;
	left:335px;
}

.bookxiangqing_mainbox_biaotou_bookconcern01{
	width: 150px;
	height: 25px;
	position: absolute;
	top:0px;
	left:485px;
}

.bookxiangqing_mainbox_biaotou_position01{
	width: 150px;
	height: 25px;
	position: absolute;
	top:0px;
	left:635px;
}

.bookxiangqing_mainbox_changepage{
	width: 790px;
	height: auto;
	position: relative;
	font-family: Arial;				/* 统一设置所有样式 */
    font-size: 0.9em;
    text-align:center;
    margin-bottom:15px;
}



/*图书馆简介页面*/
.jianjie{
	width: 1000px;
	height: auto;
	position:absolute;
	top: 65px;
	left: auto;
	background: #E5E5E5;
	float: none;
	margin:0px auto;
	
}


.jianjie_mid{
	padding: 40px 45px;
	width:906px;
	height: auto;
	background: #F1EDEE;
	position:absolute;
	top: auto;
	left:auto;
	border-style: solid;
	border-color: #9E9E9E;
	border-width:2px;
	border-radius:7px 7px 7px 7px;
}

/*关于我们*/
.guanyuwomen{
	width: 1000px;
	height: 485px;
	position:relative;
	top: 70px;
	left: auto;
	background: #E5E5E5;
	float: none;
	margin:0px auto;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
}

.guanyuwomen_01{
	padding-top: 50px;
	text-align: justify;
}

/*书籍详情页*/
.bookdetails{
	width: 800px;
	height: 466px;
	position:absolute;
	top:70px;
	left:auto;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:2px;
	border-radius:7px 7px 7px 7px;
}

.bookdetails_cover{
	width: 225px;
	height: 300px;
	padding-top: 5px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1px;
	border-radius:7px 7px 7px 7px;
	position: absolute;
	top:10px;
	left: 10px;
	background: #EFE9E9;
}

.bookdetails_xinxi{
	width: 440px;
	height: auto;
	float: left;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
	position: absolute;
	top:85px;
	left: 300px;
	background: #EFE9E9;
}

.bookdetails_content{
	width:737px;
	height: auto;
	padding:10px 30px 10px 30px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
	position:absolute;
	top:320px;
	left:auto;
	background: #EFE9E9;
}

/*排行榜*/
/*相对视窗固定*/
.paihangbang{
	width: 190px;
	height: auto;
	position:fixed;
	top: 150px;
	left: auto;
	background: #E5E5E5;
	margin: auto;
}

.sousuobang{
	width: 300px;
	height: 355px;
	background: #E7E4E4;
	position:absolute;
	top:70px;
	left: 200px;
	padding: 0 25px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
}



.sousuobang_biaotou{
	width: 305px;
	height: 35px;
	font-family:"黑体", "宋体", "仿宋";
	font-size: 20px;
	font-weight: 900;
	line-height: 25px;
	color:#000000;
	position: relative;
	top:5px;
}


.sousuobang_biaotou_xuhao{
	width: 75px;
	height: 25px;
	position: absolute;
	top:0px;
	left:0px;
	
}

.sousuobang_biaotou_bookname{
	width: 150px;
	height: 25px;
	position:absolute;
	top:0px;
	left:75px;
}

.sousuobang_biaotou_writer{
	width: 80px;
	height: 25px;
	position: absolute;
	top:0px;
	left:225px;
}


.sousuobang_biaotou01{
	width: 305px;
	height: 35px;
	font-family:"黑体", "宋体", "仿宋";
	font-size: 20px;
	font-weight: 900;
	line-height: 25px;
	color:#000000;
	position: relative;
	top:5px;
}

.sousuobang_biaotou_xuhao01{
	width: 75px;
	height: 25px;
	position: absolute;
	top:0px;
	left:0px;
	
}

.sousuobang_biaotou_bookname01{
	width: 150px;
	height: 25px;
	position:absolute;
	top:0px;
	left:75px;
}

.sousuobang_biaotou_writer01{
	width: 80px;
	height: 25px;
	position: absolute;
	top:0px;
	left:225px;
}

.shoucangbang{
	width: 300px;
	height: 355px;
	background: #E7E4E4;
	position:absolute;
	top:70px;
	left: 600px;
	padding: 0 25px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
}

.chakanbang{
	width: 300px;
	height: 355px;
	background: #E7E4E4;
	position:absolute;
	top:435px;
	left: 200px;
	padding: 0 25px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
}

.jieyuebang{
	width: 300px;
	height: 355px;
	background: #E7E4E4;
	position:absolute;
	top:435px;
	left: 600px;
	padding: 0 25px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
}

.shupingbang{
	width: 300px;
	height: 355px;
	background: #E7E4E4;
	position:absolute;
	top:800px;
	left: 200px;
	padding: 0 25px;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:1.5px;
	border-radius:7px 7px 7px 7px;
}

.backtop{
	width: 40px;
	height: 40px;
	position: fixed;
	top: 90%;
	left: 93%;
	border-style:solid;
	border-color: #D8D8D8;
	border-radius:7px;
	border-width: 1.5px;
	padding: 0px 2px 3px 4px;
	background-color: #EFEFEF;
}

.backtop01{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 90%;
	left: 93%;
	z-index: 999;
	
}


.a3{
	font-family:"黑体", "隶书", "楷体", "宋体";
	font-size: 18px;
	
}

.a3 a:link,a:visited{				/* 超链接正常状态、被访问过的样式 */
    background-color: #EFEFEF;
	font-family:"黑体", "隶书", "楷体", "宋体";
	font-size: 18px;
  }
.a3 a:hover{						/* 鼠标悬停时的超链接 */
	font-size: 17px;
	color:#5E5E5E;						/* 改变文字位置 */
 	text-decoration: none;	
	text-align: center;
	justify-content: center;
  }

/*登录注册*/
.login{
	width: 430px;
	height: auto;
	padding: 25px 30px 25px 80px ;
	position: absolute;
	top: 200px;
	left: 215px;
	border-style: double;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
}

.login_denglu{
	position: absolute;
	width: 60px;
	height: auto;
	top:130px;
	left: 235px;
	border-style: solid;
	padding: 1px 0px 1px 20px;
	background: #EFEFEF;
	border-width:2.5px;
	border-radius:7px 7px 7px 7px;
}

.login_zhuce{
	position: absolute;
	width: 60px;
	height: auto;
	top:160px;
	left: 235px;
	border-style: solid;
	padding: 1px 0px 1px 20px;
	background: #EFEFEF;
	border-width:2.5px;
	border-radius:7px 7px 7px 7px;
}

.login_tips{
	position: absolute;
	width: 300px;
	height: auto;
	top:380px;
	left: 370px;
}

.a4{
	font-family:"黑体", "隶书", "楷体", "宋体";
	font-size: 20px;
	
}

.a4 a:link,a:visited{				/* 超链接正常状态、被访问过的样式 */
    background-color: #EFEFEF;
	font-family:"黑体", "隶书", "楷体", "宋体";
	font-size: 20px;
  }
.a4 a:hover{						/* 鼠标悬停时的超链接 */
	font-size: 20px;
	color:#4FCCED;						/* 改变文字位置 */
 	text-decoration: none;	
	text-align: center;
	justify-content: center;
  }


/*页面建设*/

.p7{
	font-size: 100px;
	
	align-content: center;
}


/*我的账户*/
.myaccount{
	width: 1000px;
	height: 750px;
	position:relative;
	top: 70px;
	left: auto;
	background: #E5E5E5;
	float: none;
	margin:0px auto;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
}

.myaccount_01{
	padding-top: 50px;
}

.myaccount_head{
	width: 800px;
	height: 40px;
	position: relative;
	top:auto;
	left:100px;
	font-size: 30px;
	font-family: "黑体", "隶书", "楷体", "宋体";
	
}

.myaccount_touxiang{
	width: 145px;
	height: 200px;
	border-style:solid;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
	position:relative;
	top:18px;
	left: 7px;
}

.myaccount_touxiang img{
	width: 145px;
	height: 200px;
	align-content: center;
}

.myaccount_information{
	width: 400px;
	height: 120px;
	position:absolute;
	top:115px;
	left: 290px;
	
	border-style:solid;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
	
	padding-top: 40px;
	padding-left: 50px;
}

.myaccount_yuedujilu{
	width: 800px;
	height: 300px;
	position: absolute;
	top:350px;
	left: 0px;
	
}

.p8{
	font-size: 30px;
	font-family: "黑体", "隶书", "楷体", "宋体";
}


.myaccount_yuedujilu_mainbox{
	width: 785px;
	height: auto;
	background: #EFEFEF;
	padding: 3px;
	position: relative;
	top:auto;
}

.myaccount_yuedujilu_mainbox_biaotou{
	width: 785px;
	height: 35px;
	font-family:"时尚中黑简体", "宋体";
	font-size: 14pt;
	color:#000000;
	position: relative;
	top:5px;
}

.myaccount_yuedujilu_mainbox_biaotou_xuhao{
	width: 75px;
	height: 25px;
	position: absolute;
	top:0px;
	left:0px;
	
}

.myaccount_yuedujilu_mainbox_biaotou_bookname{
	width: 200px;
	height: 25px;
	position:absolute;
	top:0px;
	left:75px;
}

.myaccount_yuedujilu_mainbox_biaotou_bianhao{
	width: 80px;
	height: 25px;
	position: absolute;
	top:0px;
	left:275px;
}


.myaccount_yuedujilu_mainbox_biaotou_bookconcern{
	width: 200px;
	height: 25px;
	position: absolute;
	top:0px;
	left:435px;
}

.myaccount_yuedujilu_mainbox_biaotou_position{
	width: 180px;
	height: 25px;
	position: absolute;
	top:0px;
	left:615px;
}

.myaccount_yuedujilu_mainbox_biaotou01{
	width: 785px;
	height: 25px;
	font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	text-decoration: none;
	color: #000000;
	position: relative;
}
.myaccount_yuedujilu_mainbox_biaotou_xuhao01{
	width: 75px;
	height: 25px;
	position: absolute;
	top:0px;
	left:0px;
}

.myaccount_yuedujilu_mainbox_biaotou_bookname01{
	width: 200px;
	height: 25px;
	position:absolute;
	top:0px;
	left:75px;
}

.myaccount_yuedujilu_mainbox_biaotou_bianhao01{
	width: 80px;
	height: 25px;
	position: absolute;
	top:0px;
	left:275px;
}



.myaccount_yuedujilu_mainbox_biaotou_bookconcern01{
	width: 200px;
	height: 25px;
	position: absolute;
	top:0px;
	left:435px;
}

.myaccount_yuedujilu_mainbox_biaotou_position01{
	width: 180px;
	height: 25px;
	position: absolute;
	top:0px;
	left:615px;
}

/*我的账户页页脚*/
.footer03 {
	width:974px;
	clear:both;
	height:35px;
	background: url(../images/footer_bg.gif) repeat-x top;
	text-align:center;
	padding:14px;
	position: relative;
	top:85px;
	left:auto;
}

/*帮助中心*/
.help_left{
	width:  135px;
	height: 40px;
	position: absolute;
	top: 215px;
	left: 100px;
	
	padding: 30px 30px 30px 40px;
	background: #C4DCDC;
	
	border-style:solid;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:30px 30px 30px 30px;
}



.help_left01{
	width:  135px;
	height: 40px;
	position: absolute;
	top: 215px;
	left: 100px;
}

.help_mid{
	width:  135px;
	height: 40px;
	position: absolute;
	top: 215px;
	left: 394px;
	
	padding: 30px 30px 30px 40px;
	background: #C4DCDC;
	
	border-style:solid;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:30px 30px 30px 30px;
}

.help_right{
	width:  135px;
	height: 40px;
	position: absolute;
	top: 215px;
	left: 685px;
	
	padding: 30px 30px 30px 40px;
	background: #C4DCDC;
	
	border-style:solid;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:30px 30px 30px 30px;
}

.cainixiangwen{
	width:  740px;
	height:auto;
	position: relative;
	top: 38px;
	left: 105px;
	
	padding: 10px 20px 10px 20px;
	background: #C4DCDC;
	
	border-style:solid;
	border-color: #9E9E9E;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
}

.footer04 {
	width:974px;
	clear:both;
	height:35px;
	background: url(../images/footer_bg.gif) repeat-x top;
	text-align:center;
	padding:14px;
	position: relative;
	top:805px;
	left:auto;
}


.bangzhuzhongxin_cainixiangwen{
	width: 996px;
	height: auto;
	position:relative;
	top: 70px;
	left: auto;
	background: #E5E5E5;
	float: none;
	margin:0px auto;
	border-style: solid;
	border-color: #B5B5B5;
	border-width:4px;
	border-radius:7px 7px 7px 7px;
}

.bangzhuzhongxin_cainixiangwen01{
	padding-top: 50px;
	text-align: justify;
}